@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Universal selector style start here * */

* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}



:root{
    --color:#E02C6D;
}
/* Universal selector style end here */

body {
  font-family: "Poppins", sans-serif;
  
}

/* navber section style start here */

.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.navber li a {
  text-decoration: none;
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.navber li {
  list-style: none;
}

.navber ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}
.navber ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

/* navber section style end here */

/* banner section style start here */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px;
  margin: 0px 50px;
}

.banner-img img {
  width: 100%;
  height: auto;
  background-image: url("../images/Circle\ design.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img {
    width: 340px;
    height: 314px;
}
/* .banner h1 {
  color: #3a3a3a;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
} */

.banner small {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;

}
.banner button{
    background-color: var(--color);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    
    
}

/* navber section Responsive style start here */
@media screen and (max-width: 575.99px) {
    /* navber section Responsive style end here */
    .navber {
      background-color: aquamarine;
    }
    .home-text {
      display: none;
    }
    .navber-icon {
      display: none;
    }
  
    /* banner section Responsive style start here */
  
    .banner {
      flex-direction: column-reverse;
      padding: 10px 10px;
      margin: 0px 10px;
    }
  
    .banner-text {
      text-align: center;
    }
    .banner-h1 {
      color: #3a3a3a;
      font-size: 28px;
      font-weight: 700;
      margin-top: 1rem;
      margin-bottom: 10px;
    }
  
    .banner small {
      font-size: 14px;
      font-weight: 500;
  
    }
    .banner-img{
        padding-top: 50px;
        width: 100%;
        height: 100%;
    }
    .banner button{
        margin-bottom: 50px;
    }
    .banner-br{
        display: none;
    }
    /* banner section Responsive style end here */
  }
  
  @media screen and (min-width: 576px) and (max-width: 767.99px) {
    .navber {
      background-color: rgb(180, 38, 12);
    }
    .home-icon {
      display: none;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991.99px) {
    .navber {
      background-color: rgb(255, 178, 164);
    }
    .home-icon{
        display: none;
    }
    .banner-br{
        display: none;
    }
    .banner {
        padding: 100px 20px;
        margin: 0px 20px;
        gap: 20px;
      }
      .banner-img{
        flex: 1;
      }
      .banner-img >img{
        width: 90%;
      }
      .banner-text{
        flex: 1
        ;
      }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199.99px) {
    .navber {
      background-color: rgb(12, 207, 126);
    }
    .home-icon{
        display: none;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .navber {
      background-color: rgb(240, 224, 2);
    }
    .home-icon{
        display: none;
    }
  }
  